/* css for chapter pages */
.chapter-container {
    position: relative;
    display: flex;
    flex-direction: column;

    text-align: left;

    max-width: min(100%, 1200px);
    margin: auto;
}

.section-title {
    margin: 0;
}

.exercise-ul {
    max-width: min(100%, 1000px);
    list-style: none;
}

.exercise-ul a {
    /* inline-block for animation */
    display: inline-block;
    /* stretch exercise statement */
    width: 100%;
    margin-bottom: 1.5%;

    color: inherit;
    text-decoration: none;
    /* margin: 1pt 0; */

    will-change: transform box-shadow;
    transform: scale(1) perspective(1px) translateZ(0);
    box-shadow: none;
    transition: transform 0.5s ease-in-out 0.1s, box-shadow 0.5s ease-in-out 0.1s;
}

.exercise-ul a:link {
    text-decoration: none;
}

.exercise-ul a:visted {
    text-decoration: none;
}

.exercise-ul a:hover {
    text-decoration: none;
    transform: scale(1.01) perspective(1px) translateZ(0);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.exercise-ul a .exercise-title {
    font-size: x-large;
}

.exercise-ul a p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}