:root {
    --hatcherblue: #6290C0;
    --babyblue: #89CFF0;
    --fadedbabyblue: #89CFF040;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.exercise-container {
    display: flex;
    flex-direction:column;
}

.exercise-title {
    align-self: left;

    color: var(--hatcherblue);
    font-weight: bold;

    margin: 0px 0px 0px 0px;
}

.exercise-statement {
    font-size: larger;

    padding: 2px 5px 4px 10px;  /* top right bottom left */

    border-style: solid;
    border-width: 0px 0px 0px 5px;  /* top right bottom left */
    border-color: var(--babyblue);

    margin: 0px 0px 0px 0px;

    background-color: var(--fadedbabyblue);
}

.solution-container {
    display: flex;
    flex-direction: column;
    font-size: large;
}

.quiver-embed {
    align-self: center;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
}